
<div id="main-menu">
    <menu @*class="hidden-xs hidden-sm"*@>
        <li>@Html.ActionLink(Resource.HomePage, "Index", "Home")</li>
        <li>@Html.ActionLink(Resource.UserProfile, "Show", "Profile")</li>
        <li>@Html.ActionLink(Resource.EditProfile, "Edit", "Profile")</li>
        <li>@Html.ActionLink(Resource.Tasks, "Index", "Task")</li>
        <li>@Html.ActionLink(Resource.CreateTask, "Create", "Task")</li>
    </menu>
    @*<menu class="visible-xs visible-sm">
        <li><span class="glyphicon glyphicon-tasks"></span></li>
        <li><span class="glyphicon glyphicon-tasks"></span></li>
        <li><span class="glyphicon glyphicon-tasks"></span></li>
        <li><span class="glyphicon glyphicon-tasks"></span></li>
        <li><span class="glyphicon glyphicon-tasks"></span></li>
        <li>@Html.ActionLink("", "Index", "Home", new { @class = "glyphicon glyphicon-tasks" })</li>
        <li>@Html.ActionLink("", "Show", "Profile", new { @class = "glyphicon glyphicon-tasks" })</li>
        <li>@Html.ActionLink("", "Edit", "Profile", new { @class = "glyphicon glyphicon-tasks" })</li>
        <li>@Html.ActionLink("", "Index", "Task", new { @class = "glyphicon glyphicon-tasks" })</li>
        <li>@Html.ActionLink("", "Create", "Task", new { @class = "glyphicon glyphicon-tasks" })</li>

    </menu>*@
</div>
